<h1>Tuples</h1>

<h2 style='color: red;'>Collection of Data Types in an arranged structure in Python. Inmutable</h2>

<h3>Create a Tuple</h3>

In [24]:
new_tuple = (2,3,"Hello",3.14,True)

In [25]:
print(new_tuple)

(2, 3, 'Hello', 3.14, True)

<h3>Printing Specific Values</h3>

In [27]:
print(new_tuple[4])

True

<h3>Tuple Slicing</h3>

In [29]:
print(new_tuple[1:3])

(3, 'Hello')

<h3>Updating Tuples</h3>

In [35]:
new_tuple2 = new_tuple[1:3]

In [36]:
print(new_tuple2)

(3, 'Hello')

<h3>Delete Touple</h3>

In [38]:
del new_tuple2

NameError: name 'new_tuple2' is not defined

In [39]:
print(new_tuple2)

NameError: name 'new_tuple2' is not defined

<h3>Tuple Concatenation</h3>

In [42]:
aux1 = (1,2,3)
aux2 = (4,5,6)

In [44]:
print(aux1)

(1, 2, 3)

In [46]:
print(aux2)

(4, 5, 6)

In [49]:
aux3 = aux1+aux2

In [50]:
print(aux3)

(1, 2, 3, 4, 5, 6)

<h3>len(tuple)</h3>

In [54]:
lenght = len(aux3)

In [55]:
print(lenght)

6

<h3>Convert a List into a Tuple tuple(list)</h3>

In [56]:
List = [1,2,3,4,5]

In [57]:
type(List)

list

In [58]:
new_tuple5 = tuple(List)

In [59]:
print(new_tuple5)

(1, 2, 3, 4, 5)

In [60]:
type(new_tuple5)

tuple